* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*tipo da fonte a ser aplicada*/
    box-sizing: border-box;
}

.header {
    background-color:#222222;
    width: 100vw;
    height: 25px;
}
 
.header p {
   color: #ffffff;
   margin-left: 5%;
}

.top {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.top select{
    position: relative;
    margin-top: -16px;
}

.section {
    background-color: #F0A83E;
    width: 100vw;
    height: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25%;
    left: 31%;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.menu img {
    width: 20px;
    height: 20px;
    
}

.icon {
    position: relative;
    background-image: url(./img/paw\ dog.svg);
    background-repeat: no-repeat;
}

.front {
    display: flex;
    align-content: center;
}

.front p {
    position: relative;
    color: #222222;
    font-size: 25px;
    font-weight: bold;
    margin-top: -10px;
    left: 25px;
}

.banner{ 
    background-image: url(./img/imagem\ do\ banner.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 409px;

}